@page
@model EmployeeCRUDApp.Pages.Employee.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-10">
        <h1>Employee List</h1>
    </div>
    <div class="col-2">
        <p>
            <a asp-page="Create">Create New Employee</a>
        </p>
    </div>
    
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Employee
            </th>
            <th>
                Position
            </th>
            <th>
                Department
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
